@model CameraShop.Models.NguoiDung
@{
    ViewBag.Title = "ThongTinNguoiDung";
}

<h2>Thông tin người dùng</h2>
<fieldset>
    <legend>Thông tin</legend>

    <div class="display-label">MaNguoiDung</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaNguoiDung)
    </div>

    <div class="display-label">TenNguoiDung</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenNguoiDung)
    </div>

    <div class="display-label">GioiTinh</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GioiTinh)
    </div>

    <div class="display-label">DiaChi</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiaChi)
    </div>

    <div class="display-label">DienThoai</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DienThoai)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">NamSinh</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NamSinh)
    </div>
</fieldset>
 
<br />
<div>
    @Html.ActionLink("Quay lại", "Index","QLDonDatHang")
</div>