@{
    ViewBag.Title = "ListActionAdmin";
}
<ul>
    <li>@Html.ActionLink("QL Đơn đặt hàng", "", "QLDonDatHang")</li>
     <li>@Html.ActionLink("QL Hóa đơn", "", "DanhSachHoaDon")</li>
    <li>@Html.ActionLink("Báo cáo", "", "BaoCao")</li>
    <li>@Html.ActionLink("QL sản phẩm", "", "SanPham")</li>
    <li>@Html.ActionLink("Loại sản phẩm", "", "LoaiSanPham")</li>
    <li>@Html.ActionLink("QL thông số", "", "ThongSo")</li>
    <li>@Html.ActionLink("Tin tức", "", "TinTuc")</li>
    <li>@Html.ActionLink("Khuyến mãi", "", "KhuyenMai")</li>
    <li>@Html.ActionLink("Quản lý người dùng", "", "NguoiDung")</li>
    <li>@Html.ActionLink("Quản lý tài khoản", "", "TaiKhoan")</li>
    <li>@Html.ActionLink("QL Nhóm người dùng", "", "NhomNguoiDung")</li>
    <li>@Html.ActionLink("QL Nhà sản xuất", "", "NhaSanXuat")</li>
    <li>@Html.ActionLink("QL Dòng sản phẩm", "", "DongSanPham")</li>
</ul>
