@model CameraShop.Models.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}
 
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");

            if (recordToDelete != '') {

                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }

                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });

    });


    function handleUpdate() {
        // Load and deserialize the returned JSON data
        var json = context.get_data();
        var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);
       
        // Update the page elements
        if (data.ItemCount == 0) {
            $('#row-' + data.DeleteId).fadeOut('slow');
        } else {
            $('#item-count-' + data.DeleteId).text(data.ItemCount);
        }

        $('#cart-total').text(data.CartTotal);
        $('#update-message').text(data.Message);
        $('#cart-status').text('Cart (' + data.CartCount + ')');
    }
</script>
<style>
    .picPCart img
    {
        width: 75px;
        height: 75px;
    }
</style>
<h3>
    <em>Sản phẩm trong giỏ hàng của bạn</em>:
</h3>
<p class="button">
    @Html.ActionLink("Đặt mua", "AddressAndPayment", "Checkout")
</p>
<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Giá 1 sản phẩm
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Thành tiền
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.RecordID">
            <td>
                @Html.ActionLink(item.SanPham.TenSanPham, "Details", "DanhSachSanPham", new { id = item.MaSanPham }, null)
            </td>
            <td>
                <div class="picPCart">
                    @if (item.SanPham.AnhSanPhams.ToList().Count > 0)
                    {
                        <img src="@item.SanPham.AnhSanPhams.ToList()[0].URL" />
                     
                    }
                </div>
            </td>
            <td>
                @item.SanPham.GiaBan.ToString("##,#") VNĐ
            </td>
            <td id="item-count-@item.RecordID">
                @item.Count
            </td>
            <td id="item-count-@item.RecordID">
                @{
                    decimal thanhtien = item.SanPham.GiaBan * @item.Count;
                }
                @thanhtien.ToString("##,#") VNĐ
            </td>
            <td>
                <a href="#" class="RemoveLink" data-id="@item.RecordID">Xóa</a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td>
        </td>
        <td>
        </td>
        <td></td>
        
        <td id="cart-total">
            @Model.CartTotal.ToString("##,#") VNĐ
        </td>
    </tr>
</table>
