@model CameraShop.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>
  

@* 
  <div>
  Người lập: @hd.NguoiDung.TenNguoiDung

  </div> *@
  <div>
  Ngày lập: @Model.NgayLap.ToString("dd-MM-yyyy")

  </div>
    <div>
 Hoá đơn của khách hàng @Model.DonDatHang.NguoiDung.TenNguoiDung

  </div> 
@*chi tiet don dat hang*@
<h3><em>Chi tiết đơn đặt hàng</em></h3>
<table>
    <tr>
        <th>
            DonDatHang
        </th>
        <th>
            SanPham
        </th>
        <th>
            SoLuong
        </th>
        <th>
            DonGia
        </th>
        <th>
            ThanhTien
        </th>
        
    </tr>

@foreach (var item in Model.DonDatHang.ChiTietDonDatHangs) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DonDatHang.MaDonDatHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhTien)
        </td>
        
    </tr>
}

</table>
<p> 
    @Html.ActionLink("Back to List", "Index")
</p>






<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
