@model CameraShop.Models.TinTuc
@{
    ViewBag.Title = "Index";
}
<h2>
    Tin tức</h2>
<div>
    <div>
        @*<div style="Color:Orange;font-size:14pt;">@Html.DisplayFor(model => model.TieuDe)</div>*@
        <div>
            <h3>
                <em>@Html.DisplayFor(model => model.TieuDe)</em>:
            </h3>
        </div>
        <div style="margin-left: 20px; color: #a5a5a5; font-size: 9px;">
            Ngày đăng @Model.NgayDang.ToString("dd-MMM-yyyy")</div>
        <div style="font-size: 14px;">@Html.DisplayTextFor(model => model.NoiDung)
        </div>
    </div>
</div>
<div style="color: #e7e7e7; font-size: 14pt; font-weight: bold;">
    -------------------------------------------------------------------</div>
<div style="margin-top: 30px;">
    <span style="font-size: 14pt; font-weight: bold;">Các tin khuyến mãi khác</span>
    <div style="margin-left: 20px; text-decoration: none;">
        @foreach (CameraShop.Models.TinTuc temp in ViewBag.listTT)
        {
            <p>
                @Html.ActionLink(temp.TieuDe, "Detail", new { id = temp.MaTinTuc })
            </p>
        }
    </div>
</div>