@model IEnumerable<CameraShop.Models.SanPham>
@{
    ViewBag.Title = "Hang moi";
}
<br />
<div class="cnt-r-cnt">
    <div class="cnt-r-cnt-l">
        <div class="sanphammoi">
            <div class="top-sp-moi">
                Sản phẩm mới
            </div>
            <div class="bot-sp-moi">
                @{int count = 0;

                }
                @foreach (CameraShop.Models.SanPham item in Model)
                {
                    count++;
                    <div class="border-sp">
                        <div class="name">
                            @Html.ActionLink(item.TenSanPham, "Details", new { id = item.MaSanPham })
                        </div>
                        @if (item.AnhSanPhams.Count > 0)
                        {
                            //begin update
                            if (item.IsNew)
                            { 
                            <div class="isnew">
                                <a href="#">
                                    <img src="../../Content/images/new.png" /></a>
                            </div>
                            }
                            if (item.Percent != int.MinValue && item.Percent > 0)
                            {
                            <div class="ispercent">
                                -@item.Percent %
                            </div>
                            }

                            //end update
                            string UrlImg = item.AnhSanPhams.ToList()[0].URL;

                            <a href="@Url.Content("~/DanhSachSanPham/Details/" + @item.MaSanPham)">
                                <img class='border-img' src='@UrlImg' /></a>
                        }
                        else
                        {
                            <a href="@Url.Content("~/DanhSachSanPham/Details/" + @item.MaSanPham)">
                                <img class='border-img' src='/Content/images/no-images.png' /></a>
                        }
                         <div class="price" style="text-decoration:line-through;">
                        @{ if (item.Gia2 != 0 && item.Percent != int.MinValue && item.Percent > 0)
                           {
                           
                                @item.Gia2.ToString("##,#") 
                            <span>VNĐ</span>
                            
                           }
                           else
                           {
                               <span>&nbsp;</span>
                           }
                        }
                        </div>
                        <div class="price">
                            @item.GiaBan.ToString("##,#") VNĐ
                        </div>
                        <a href="">
                            <img class="no-border" src="../../Content/images/btn_cart.png" /></a>
                    </div>
                           if (count % 4 == 0)
                           {
                    <div class="clear">
                    </div>
                           }

                }
            </div>
        </div>
    </div>
</div>
