@model IEnumerable<CameraShop.Models.DongSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            MaDongSanPham
        </th>
        <th>
            NhaSanXuat
        </th>
        <th>
            TenDongSanPham
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaDongSanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaSanXuat.TenNhaSanXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenDongSanPham)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit",       new { id=item.MaDongSanPham }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDongSanPham }) |
            @Html.ActionLink("Delete", "Delete",   new { id=item.MaDongSanPham })
        </td>
    </tr>
}

</table>
